tbody tr:nth-child(odd) {
    background-color: #66b1ff;
}
.box {
    margin-top: 20px;
}
.tb {
    text-align: center;
    border-spacing: 0 0;
}
.paging{
    display: flex;
    font-size:14px;
    margin-left: 40px;
}
td,th {
    padding-left: 15px;
    padding-right: 15px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: gray;
}