<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>all Student information</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/user_findAll.css}">
    <script type="text/javascript" th:src="@{/static/scripts/deleteAll.js}" th:inline="none"></script>
</head>
<body>
    <div>
        <div class="box">
            <div style="margin-bottom: 10px">
                <form method="post" action="/admin/student/findAllTea">
                    <label>姓名:</label>
                    <label><input type="text" name="teaName" class="input_style"/></label>
                    <label>&nbsp;&nbsp;工号:</label>
                    <label><input type="text" name="teaId" class="input_style"/></label>
                    <br>
                    <button type="submit">查询</button>
                    <a th:href="@{/admin/getAllTeacher}">全部信息</a>
                </form>
            </div>
            <div>
                <form name="form" method="post">
                    <table class="tb" th:border="1">
                        <thead>
                        <tr>
                            <th>教师编号</th>
                            <th>教师名称</th>
                            <th>教师性别</th>
                            <th>教师课程</th>
                            <th>教师班级</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="admin: ${pageInfo.list}">
                            <td th:text="${admin.tid}"></td>
                            <td th:text="${admin.tname}"></td>
                            <td th:text="${admin.tsex}"></td>
                            <td th:text="${admin.cname}"></td>
                            <td th:text="${admin.classid}"></td>
                            <td>
                                <a th:href="@{/admin/getTeacher/} + ${admin.tid}">编辑</a>
                                <a th:href="@{/admin/delTeacher/} + ${admin.tid}">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <br style="background-color: #32323a"/>
        <div>
            <ul class="paging">
                <li style="float: left; margin-left: 10px;color: black;display: flex">
                    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,
                        总 <span th:text="${pageInfo.pages}"></span> 页,
                        共<span th:text="${pageInfo.total}"></span> 条记录
                    </p>
                    <br>
                    <a th:href="@{/admin/getAllTeacher}">首页</a>
                    <a th:href="@{/admin/getAllTeacher(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                    <a th:href="@{/admin/getAllTeacher(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                    <a th:href="@{/admin/getAllTeacher(pageNum=${pageInfo.pages})}">尾页</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>